<div class="centered-content">
  <div class="modal-box" *ngIf="!editMode">
    <h1 class="title"> Add New Book</h1>


    <div #bookDataInput>
      <input #titleInput class="input has-background-light is-medium" type="text" placeholder="Title">
      <br><br>
      <input #authorInput class="input has-background-light is-medium" type="text" placeholder="Author">
      <br><br>
      <input #genreInput class="input has-background-light is-medium" type="text" placeholder="Genre">
    </div>
    <br><br>
    <div class="buttons is-right">
      <button routerLink="/" class="button is-medium">Cancel</button>
      <button class="button is-primary is-medium has-text-white" (click)="createBook(titleInput.value, authorInput.value, genreInput.value)" routerLink="/">Create</button>
    </div>


  </div>

  <div class="modal-box" *ngIf="editMode">
    <h1 class="title"> Update Your Book</h1>

    <div #bookUpdateInput>
      <input #titleInput class="input has-background-light is-medium" type="text" value="{{ selectedBook.title }}">
      <br><br>
      <input #authorInput class="input has-background-light is-medium" type="text"  value="{{ selectedBook.author }}">
      <br><br>
      <input #genreInput class="input has-background-light is-medium" type="text"  value="{{ selectedBook.genre }}">
    </div>
    <br><br>
    <div class="buttons is-right">
      <button routerLink="/books" class="button is-medium">Cancel</button>
      <button class="button is-primary is-medium has-text-white" (click)="updateBook(titleInput.value, authorInput.value, genreInput.value)" routerLink="/">Update</button>
    </div>

  </div>

</div>
